.navbar {
    /* background-color: #333; */
    background-color: gray;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    font-family: Arial, sans-serif;
  }
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .search-link{
    color: aliceblue;
     }

  